body{
    margin:0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    background-color: #f0f1f6;
}

.container{
    width: 95%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,.08);
    border-radius: 8px;
    position: relative;
    top: 55px;
}
.container .card-header{
    padding: 15px;
}
.container .card-body{
    padding: 30px;
}
.sections{
    width: 33.33333%;
    float: left;
    padding: 0 16px;
}
.sections-container{
display: flex
}
.card-body input{
    width: 85%;
    height: 32px;
    border-radius: 5px;
    padding: 6px 11px;
    background-color: white;
    border-style: solid;
    border: 2px solid #cac3c3;
    transition: all 0.30s ease-in-out;
    margin-bottom: 30px;
    margin-top: 5px;
}
.card-body input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
    border-radius: 5px;
    transition: all 0.30s ease-in-out;
}
label{
    font-size: 14px;
    font-weight: 500;
    color: gray;
    display: block;
}
.text-danger{
    color: rgb(226, 25, 25);
}
.sub-inputs{
    display: flex;
}
.sub-inputs input{
width: 80% !important;
margin: 5px 40px 30px 0px;
}
.radio-section{
    width: 85%;
    height: 37px;
    border-radius: 5px;
    padding: 6px 11px;
    background-color: white;
    border-style: solid;
    border: none;
    transition: all 0.30s ease-in-out;
    margin-bottom: 30px;
    margin-top: 5px;
    background-color: #d3d3d33b;
}
.radio-section .radio-innput{
    width: 11%;
    height: 17px;
    margin: 0;
    margin-top: 10px;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 0;
    left: 0;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 0;
    left: 0;
    position: relative;
    background-color: #64ddba;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.upload-file{
    width: 85%;
    height: 37px;
    border-radius: 5px;
    padding: 6px 11px;
    background-color: white;
    border-style: solid;
    border: none;
    transition: all 0.30s ease-in-out;
    margin-bottom: 30px;
    margin-top: 5px;
    background-color: #d3d3d33b;
}
.upload-file label{
    background-color: white;
    display: inline;
    padding: 3px 10px;
    border-radius: 9px;
    box-shadow: 0px 0px 5px 1px lightgrey;
    position: relative;
    top: 7px;
    left: 19px;
}
.file{
    position: relative;
    top: 7px;
    left: 29px;
    font-size: 14px;
    color: gray;
}
.tabs{
    width: 24%;
    float: left;
    text-align: center;
    margin: 16px 0;
    border: 1px solid lightgray;
}
.active::after{
    content: '';
    border-bottom: 3px solid lightblue;
}
.fa-check-circle-o{
color: #82d8ba;
}
.terms{
    color: gray;
    margin: 0;
    font-size: 12px;
}
.cancel-button{
    padding: 10px 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: lightgray;
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.continue-button{
    padding: 10px 25px;
    border: 1px solid #64ddba;
    border-radius: 5px;
    background-color: #64ddba;
    color: white;
    font-size: 17px;
    font-weight: 600;
}