    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box
    }
    body{
        font-family: "Lato",sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.7;
        color: #777;
    }
    .header{
        height: 100vh;
    background-image: url(./download.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    }
    .header::before{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background: linear-gradient(45deg,#000,transparent);
    }
    .caption{
        color: #f59935;
        font-size: 12px;
        font-weight: 600;
    }
    .text-box {
            position: absolute;
            top: 50%;
            left: 35%;
            transform: translate(-50%,-50%);
            text-align: left;
            width: 50%;
    }
    .heading-primary{
        color: #ffffff;
        backface-visibility: hidden;
        margin-bottom: 40px;
    }
    .heading-primary-main{
        display: block;
        font-size: 1.75rem;
        font-weight: 500;
        animation:moveInLeft 2s ease-out;
        font-family: Playfair Display,serif;
    }
    .heading-primary-sub{
        display: block;
        font-size: 1rem;
        font-weight: 400;
        color: #a5a0a0f5;
        animation: moveInRight 2s ease-out;
    }
    @keyframes moveInLeft{
        0%{
            opacity: 0;
            transform: translateX(-100%)
        }
        80%{
            transform: translateX(20px)
        }
        100%{
            opacity: 1;
            transform: translate(0)
        }
    }

    @keyframes moveInRight{
        0%{
            opacity: 0;
            transform: translateX(100%)
        }
        80%{
            transform: translateX(-20px)
        }
        100%{
            opacity: 1;
            transform: translate(0)
        }
    }
    /* button styles */

    .btn:link,
    .btn:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 25px;
        display: inline-block;
        border-radius: 1px;
        transition: all .2s;
        position: relative;
        background-color: #f5993500;
        color: white;
        border: 1px solid #f59935;
        font-size: 11px;
    }
    .btn:hover{
        color: #f59935;
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }
    .btn:active{
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
    .btn::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }